In [1]:
from math import sqrt
from numpy import concatenate
from matplotlib import pyplot
import pandas as pd
from datetime import datetime
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from keras.layers import LSTM
import plotly.offline as py
import plotly.graph_objs as go
import numpy as np
import seaborn as sns
from keras.optimizers import RMSprop, Adam, SGD, Nadam
from keras import backend as K
from keras.layers import Dense, LSTM, TimeDistributed
py.init_notebook_mode(connected=True)
%matplotlib inline

Using TensorFlow backend.

In [2]:
data = pd.read_csv(filepath_or_buffer="./Data/clean_data.csv", index_col="date")

In [3]:
data = data.apply(pd.to_numeric, errors = "coerce")

In [4]:
data['spindx'].replace(0, np.nan, inplace=True)
data['spindx'].fillna(method='ffill', inplace=True)

In [5]:
from sklearn.preprocessing import MinMaxScaler

# MULTIVARIATE PREDICTION (WITH LOOKBACK AND TIMESTEPS)

In [6]:
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    n_vars = 1 if type(data) is list else data.shape[1]
    df = pd.DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
    # put it all together
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [7]:
data.columns

Index(['TCMNOM_Y2', 'TCMNOM_Y10', 'DCOILBRENTEU', 'spindx', 'GOLDPMGBD228NLBM',
       'exalus', 'exjpus', 'exukus'],
      dtype='object')

In [8]:
number_of_variables = 8
values = data[['spindx'] + ['TCMNOM_Y2'] + ['TCMNOM_Y10'] + ['DCOILBRENTEU'] + ['GOLDPMGBD228NLBM'] + ['exalus'] + ['exjpus'] + ['exukus']].values
values = values.astype('float32')

In [9]:
historic_data = np.array([])
for day in values[-10:]:
    historic_data = np.concatenate((historic_data, day), axis=None)

In [10]:
historic_data = np.append (historic_data, historic_data)

In [11]:
historic_data.shape

(160,)

In [12]:
look_back = 10
time_steps = 10
reframed = series_to_supervised(values, look_back, time_steps)
reframed.tail()

,var1(t-10),var2(t-10),var3(t-10),var4(t-10),var5(t-10),var6(t-10),var7(t-10),var8(t-10),var1(t-9),var2(t-9),...,var7(t+8),var8(t+8),var1(t+9),var2(t+9),var3(t+9),var4(t+9),var5(t+9),var6(t+9),var7(t+9),var8(t+9)
7917,2923.429932,2.82,3.05,85.629997,1204.699951,1.3891,113.660004,0.7702,2925.510010,2.85,...,111.650002,0.7797,2641.250000,2.81,3.08,77.559998,1230.800049,1.4136,112.489998,0.7808
7918,2925.510010,2.85,3.15,85.449997,1201.199951,1.4010,114.190002,0.7696,2901.610107,2.87,...,112.489998,0.7808,2682.629883,2.84,3.12,75.680000,1225.400024,1.4061,112.760002,0.7855
7919,2901.610107,2.87,3.19,86.070000,1203.449951,1.4128,113.790001,0.7684,2885.570068,2.88,...,112.760002,0.7855,2711.739990,2.87,3.15,74.839996,1214.949951,1.4104,112.860001,0.7825
7920,2885.570068,2.88,3.23,85.120003,1203.800049,1.4188,113.559998,0.7633,2884.429932,2.88,...,112.860001,0.7825,2740.370117,2.84,3.14,71.250000,1231.150024,1.3910,112.790001,0.7708
7921,2884.429932,2.88,3.22,84.220001,1186.949951,1.4144,113.345001,0.7622,2880.340088,2.88,...,112.790001,0.7708,2723.060059,2.91,3.22,71.110001,1232.099976,1.3891,113.089996,0.7713

In [13]:
reframed = reframed.append(dict(zip(reframed.columns, historic_data)), ignore_index=True)

In [14]:
scaler = MinMaxScaler(feature_range=(0, 1))
scaled = scaler.fit_transform(reframed)

In [15]:
scaled[-1][:-8 * time_steps].shape

(80,)

In [16]:
pred_para = scaled[-1][:-8 * time_steps]
pred_para = pred_para.reshape(1,10,8)

In [17]:
pred_para.shape

(1, 10, 8)

In [18]:
def stock_loss(y_true, y_pred):
    alpha = 100.
    loss = K.switch(K.less(y_true * y_pred, 0), \
        alpha*y_pred**2 - K.sign(y_true)*y_pred + K.abs(y_true), \
        K.abs(y_true - y_pred)
        )
    return 0.5 * K.mean(loss, axis=-1) + 0.5 * K.std(loss, axis=-1)

In [19]:
from keras.models import load_model
#multi_model = load_model("market_lstm_model_multipredictionv1_weights.hdf5", custom_objects={'stock_loss': stock_loss})
multi_model = load_model("market_lstm_model_multipredictionMSE_weights.hdf5", custom_objects={'stock_loss': stock_loss})

yhat = multi_model.predict(pred_para)

In [20]:
yhat

(1, 10, 8)

In [21]:
pred_para = pred_para.reshape((1,80))
yhat = yhat.reshape((1,80))
pred = concatenate((pred_para[:, :], yhat), axis=1)

In [22]:
inv_pred = scaler.inverse_transform(pred)

In [25]:
inv_pred = inv_pred[:,-8 * time_steps:].flatten()

In [29]:
inv_pred = inv_pred.reshape(10,8)

In [32]:
inv_pred

array([[2.43605943e+03, 2.60543337e+00, 2.65435585e+00, 1.07992419e+02,
        1.02743254e+03, 1.66319555e+00, 1.09193037e+02, 6.78180010e-01],
       [2.22254594e+03, 2.83834996e+00, 2.89823479e+00, 9.14146836e+01,
        1.17909662e+03, 1.50764584e+00, 1.05060928e+02, 7.48614381e-01],
       [2.39799537e+03, 3.66810398e+00, 3.34144585e+00, 8.43908391e+01,
        1.18570528e+03, 1.44664545e+00, 1.14799951e+02, 7.48182886e-01],
       [2.45368353e+03, 3.60682193e+00, 3.55614532e+00, 8.20168201e+01,
        1.18786867e+03, 1.41322780e+00, 1.14412945e+02, 7.46550604e-01],
       [2.45707553e+03, 3.49793407e+00, 3.79563988e+00, 8.06741246e+01,
        1.18054618e+03, 1.40679106e+00, 1.12805132e+02, 7.44346810e-01],
       [2.47580303e+03, 3.43421471e+00, 3.94964224e+00, 8.20616784e+01,
        1.20062666e+03, 1.40915689e+00, 1.12063999e+02, 7.44720937e-01],
       [2.48666103e+03, 3.41013722e+00, 4.09536800e+00, 8.18199450e+01,
        1.19852185e+03, 1.41248282e+00, 1.11668300e+02, 7.47726713e-01],
       [2.51238969e+03, 3.43816562e+00, 4.20897358e+00, 8.17099492e+01,
        1.19701861e+03, 1.41367063e+00, 1.11740138e+02, 7.49049850e-01],
       [2.52005097e+03, 3.43327604e+00, 4.27817252e+00, 8.08004690e+01,
        1.19692496e+03, 1.39863662e+00, 1.11501729e+02, 7.43949565e-01],
       [2.54174698e+03, 3.45581621e+00, 4.34348440e+00, 8.07559000e+01,
        1.20826673e+03, 1.39604876e+00, 1.11817834e+02, 7.42557365e-01]])

In [33]:
inv_pred[:,0]

array([2436.05942862, 2222.54593622, 2397.99537389, 2453.68352562,
       2457.07553023, 2475.80302902, 2486.6610255 , 2512.38969303,
       2520.05096502, 2541.74698003])

In [34]:
#predictDates = data.tail(len(test_y)).index
#actual_chart = go.Scatter(x=predictDates, y=inv_y[:,0], name= 'Actual Price')
multi_predict_chart = go.Scatter(x=np.array([1,2,3,4,5,6,7,8,9,10]), y=inv_pred[:,0], name= 'Multi Predict Price')
py.iplot([multi_predict_chart])